* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* Topo */
header {
    width: 100vw;
    padding: 12px 0;
    background-color: #1a1a1a;
    position: fixed;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 77vw;
    margin: 0 auto;
}

.logo {
    width: 126px;
}

.nav-list {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
}

.nav-list a:hover {
    text-shadow: 1px 0px 7px rgba(255,255,255,0.53);
}

/* Seção Início */

.secao-inicio {
    background-image: url("../assets/pictures/foto-escura.jpg");
    background-size: cover;
    background-position: left 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    position: relative;
    
}

.secao-inicio article {
    max-width: 1024px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    background-color: #0000004b;
    backdrop-filter: blur(3px);
    border-radius: 3px;
    text-align: center;
}

.secao-inicio h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    
}

.secao-inicio p {
    font-size: 32px;
    font-weight: 300;
}

.container-btn {
    display: flex;
    gap: 32px;
    margin: 0 auto;
    align-items: center;
}

.secao-inicio a {
    text-decoration: none;
    background-image: linear-gradient(to right, #ffdd59 , #ff924d);
    padding: 14px 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.secao-inicio a p {
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.secao-inicio a:hover {
    color: #000;
    background-image: linear-gradient(to right, #fad12c , #ff7824);
}

.secao-inicio .container-btn a img {
    width: 26px;
    object-fit: contain;
}

.arrow-down {
    width: 36px;
    position: absolute;
    bottom: 11px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Seção Eventos */


.secao-eventos {
    width: 100%;
    background-image: linear-gradient(to right, #ffdd59 , #ff924d);
    padding: 64px 0;
}

.secao-eventos article {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secao-eventos article img {
    max-width: 30%;
}

.secao-eventos .container-textual {
    max-width: 62%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.lista-eventos span {
    font-weight: 600;
}

.lista-eventos li {
    margin-bottom: 15px;
}

/* Seção Preços */

.secao-precos {
    background-image: url("../assets/pictures/rodizio.jpg");
    background-size: cover;
    background-position: center;
}

.secao-precos article {
    padding: 64px 0;
    background-color: #000000c9;
    color: #fff;
    position: relative;
}

.secao-precos h2 {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 28px;
}


.container-precos {
    width: 77vw;
    max-width: 1024px;
    margin: 30px auto;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px 20px;
    backdrop-filter: blur(3px);
}

.container-precos .preco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    width: 96%;
}

.container-precos p {
    font-size: 23px;
    font-weight: 600;
    max-width: 65%;
}

.container-precos div .valor {
    font-size: 32px;
    font-weight: 900;
    text-shadow: 1px ;
}

.container-precos div .detalhe {
    font-size: 16px;
    font-weight: 400;
}

.separacao-preco {
    width: 96%;
    margin: 5px auto;
    height: 1px;
    background-color: #ffffff50;
    border-radius: 2px;
}

.secao-precos a {
    display: block;
    margin: 55px auto 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    background-image: linear-gradient(to right, #ff924d , #ffdd59);
    padding: 15px 0;
    width: 200px;
    border-radius: 10px;
    font-weight: 600;
}

.secao-precos a:hover {
    background-image: linear-gradient(to right, #ff7824 , #fad12c);
}

/* Seção Unidades */

.secao-unidades {
    background-color: #282424;
    color: #fff;
    padding: 64px 0;
}

.secao-unidades h2 {
    text-align: center;
    margin: 0 auto;
}

.secao-unidades article {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 48px;
    padding-top: 36px;
}

.secao-unidades article h3 {
    font-weight: 500;
}

.secao-unidades article a {
    text-decoration: none;
    color: #fff
}

.secao-unidades .container-unidade {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container-unidade {
    max-width: 1024px;
    width: 77vw;
    margin: 0 auto;
}

/* Botão fixo */

.btn-reserva {
    position: fixed;
    bottom: 20px;
    right:20px;
    background-color: #ffffffe7;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 15px;
    gap: 6px;
    border-radius: 100%;
    border: 1.5px solid #000;
}

.btn-reserva img {
    width: 23px;
    height: 23px;
    object-fit: cover;
}

/* Rodapé */

footer {
    background-color: #000;
    padding: 32px 0;
    color: #fff;
}

footer .redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

footer a {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a img {
    width: 20px;
    height: 20px;
    margin: auto;
}

footer p {
    margin: 23px auto 0 auto;
    text-align: center;
    font-weight: 300;
}

@media (max-width: 1024px) {
    .secao-inicio h1 {
        font-size: 30px;
    }

    .secao-inicio p {
        font-size: 26px;
    }

    .logo-secao-eventos {
        display: none;
    }

    .secao-eventos .container-textual {
        margin: 0 auto;
        text-align: justify;
    }
}

@media (max-width: 768px) {

    .secao-inicio {
        height: 500px;
    }

    .secao-inicio article {
        padding: 25px;
        margin: auto;
    }

    .secao-inicio h1 {
        font-size: 24px;
    }

    .secao-inicio p {
        font-size: 20px;
    }

    .secao-inicio .container-btn {
        gap: 28px;
    }

    .secao-inicio .container-btn a {
        padding: 10px 18px;
    }

    .secao-inicio .container-btn a p {
        font-size: 12px;
    }

    .secao-inicio .container-btn a img {
        width: 18px;
    }

    .arrow-down {
        display: none;
    }

    nav {
        flex-direction: column;
        justify-content: space-around;
        gap: 7px;
    }

    .nav-list {
        border-top: 1px solid #ffffff3d;
        padding-top: 5px;
        gap: 5vw;
    }

    header {
        position: static;
    }

    .secao-eventos h2 {
        font-size: 18px;
    }

    .secao-eventos li {
        font-size: 14px;
    }

    .secao-precos article h2 {
        font-size: 20px;
    }

    .container-precos div p {
        font-size: 18px;
    }

    .container-precos div .valor {
        font-size: 24px;
    }

    .container-precos div .detalhe {
        font-size: 13px;
    }


}

@media (max-width: 425px) {

    .nav-list a {
        font-size: 10px;
    }

    nav .logo {
        width: 80px;
    }

    .secao-inicio {
        height: 300px;
        padding-top: 0px;
    }
    .secao-inicio article {
        padding: 20px;
    }

    .secao-inicio h1 {
        font-size: 20px;
    }

    .secao-inicio p {
        font-size: 16px;
    }
    .secao-inicio .container-btn {
        gap: 20px;
    }

    .secao-inicio .container-btn a {
        padding: 6px 14px;
    }

    .secao-inicio .container-btn a p {
        font-size: 10px;
    }

    .secao-inicio .container-btn a img {
        width: 14px;
    }
    .secao-eventos h2 {
        font-size: 16px;
    }

    .secao-eventos li {
        font-size: 12px;
    }

    .secao-precos article h2 {
        font-size: 18px;
    }

    .container-precos div p {
        font-size: 16px;
    }

    .container-precos div .valor {
        font-size: 20px;
    }

    .container-precos div .detalhe {
        font-size: 12px;
    }

    .secao-precos article a {
        font-size: 10px;
        padding: 10px;
        width: 120px;
    }

    .secao-unidades h2 {
        font-size: 20px;
    }

    .secao-unidades .container-textual h3 {
        font-size: 16px;
    }

    .secao-unidades .container-textual a, .secao-unidades .container-textual p {
        font-size: 14px;
    }

    .secao-unidades iframe {
        height: 200px;
    }

    footer p {
        font-size: 10px;
    }

    footer a {
        width: 30px;
        height: 30px;
    }

    footer a img {
        width: 14px;
        height: 14px;
    }

    .btn-reserva img {
        width: 16px;
        height: 16px;
    }


}